<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
        var socket = io('http://localhost:8888');

        socket.on('log',function (data) {
            console.log('log');
            console.dir(data);            
        });

        socket.on('middleware',function (data) {
            console.log('middleware')
            console.dir(data);                        
        });

        socket.on('group',function (data) {
            console.log('group')
            console.dir(data);                        
        });


        socket.on('list-pagination',function (data) {
            console.log('list-pagination')
            console.dir(data);                        
        });
        

        setTimeout(()=>{
            // socket.emit('rangedate',{
            //     initial:1524274173200,
            //     ending:1524274177000
            // });
            listInterval();

        },1000);


        function listInterval(){
            let page=0;
            let interval=setInterval(()=>{                
                socket.emit('list',{
                    page:page,
                    limit:3,
                    type:'group'
                });
                page++;
                if(page>=3){
                    clearInterval(interval);
                }                
            },1000)
        }
    </script>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
