.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}
.p-fixed {
  position: fixed;
}

.right15 {
  right: 15px;
}

.left15 {
  left: 15px;
}

.fright {
  float: right;
}
.fleft {
  float: left;
}